--
-- PostgreSQL database dump
--

\restrict pItwRO1F6hjQM4qBHhvmmp34nAaL4gagGBbxTmo261zhvaQ58vaOF31jtGbqUvN

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: uai_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO uai_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: uai_user
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ExperienceCategory; Type: TYPE; Schema: public; Owner: uai_user
--

CREATE TYPE public."ExperienceCategory" AS ENUM (
    'ACTIVITY',
    'GASTRONOMY',
    'TOUR',
    'WELLNESS',
    'ADVENTURE'
);


ALTER TYPE public."ExperienceCategory" OWNER TO uai_user;

--
-- Name: ExperienceType; Type: TYPE; Schema: public; Owner: uai_user
--

CREATE TYPE public."ExperienceType" AS ENUM (
    'RELAX',
    'WELLNESS',
    'GASTRONOMIC',
    'ADVENTURE',
    'ROMANTIC',
    'CULTURAL'
);


ALTER TYPE public."ExperienceType" OWNER TO uai_user;

--
-- Name: ExtraType; Type: TYPE; Schema: public; Owner: uai_user
--

CREATE TYPE public."ExtraType" AS ENUM (
    'BREAKFAST',
    'SPA',
    'TOUR',
    'TRANSPORT'
);


ALTER TYPE public."ExtraType" OWNER TO uai_user;

--
-- Name: ReservationStatus; Type: TYPE; Schema: public; Owner: uai_user
--

CREATE TYPE public."ReservationStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'CANCELLED'
);


ALTER TYPE public."ReservationStatus" OWNER TO uai_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: uai_user
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO uai_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO uai_user;

--
-- Name: BlockedDate; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."BlockedDate" (
    id text NOT NULL,
    "hotelId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    reason text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BlockedDate" OWNER TO uai_user;

--
-- Name: Experience; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."Experience" (
    id text NOT NULL,
    "ownerId" text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    price double precision NOT NULL,
    duration text,
    category public."ExperienceCategory" DEFAULT 'ACTIVITY'::public."ExperienceCategory" NOT NULL,
    images text[],
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Experience" OWNER TO uai_user;

--
-- Name: ExtraService; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."ExtraService" (
    id text NOT NULL,
    "ownerId" text NOT NULL,
    name text NOT NULL,
    description text,
    price double precision NOT NULL,
    image text,
    type public."ExtraType" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ExtraService" OWNER TO uai_user;

--
-- Name: Hotel; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."Hotel" (
    id text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    location text NOT NULL,
    "experienceType" public."ExperienceType" DEFAULT 'RELAX'::public."ExperienceType" NOT NULL,
    price double precision NOT NULL,
    stars integer DEFAULT 5 NOT NULL,
    services text[] DEFAULT ARRAY[]::text[],
    "exclusiveFeatures" text[] DEFAULT ARRAY[]::text[],
    images text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    address text,
    "extraBedPrice" double precision DEFAULT 50 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    latitude double precision,
    longitude double precision,
    "ownerId" text,
    "totalRooms" integer DEFAULT 10 NOT NULL,
    "googlePlaceId" text
);


ALTER TABLE public."Hotel" OWNER TO uai_user;

--
-- Name: HotelExperience; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."HotelExperience" (
    "hotelId" text NOT NULL,
    "experienceId" text NOT NULL
);


ALTER TABLE public."HotelExperience" OWNER TO uai_user;

--
-- Name: HotelExtraService; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."HotelExtraService" (
    "hotelId" text NOT NULL,
    "extraServiceId" text NOT NULL
);


ALTER TABLE public."HotelExtraService" OWNER TO uai_user;

--
-- Name: OtpCode; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."OtpCode" (
    id text NOT NULL,
    "userId" text NOT NULL,
    code text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OtpCode" OWNER TO uai_user;

--
-- Name: Reservation; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."Reservation" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "hotelId" text NOT NULL,
    "checkIn" timestamp(3) without time zone NOT NULL,
    "checkOut" timestamp(3) without time zone NOT NULL,
    guests integer DEFAULT 1 NOT NULL,
    "totalPrice" double precision NOT NULL,
    status public."ReservationStatus" DEFAULT 'PENDING'::public."ReservationStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    rooms integer DEFAULT 1 NOT NULL
);


ALTER TABLE public."Reservation" OWNER TO uai_user;

--
-- Name: ReservationExtra; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."ReservationExtra" (
    id text NOT NULL,
    "reservationId" text NOT NULL,
    type public."ExtraType",
    price double precision NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    notes text,
    "experienceId" text,
    "extraServiceId" text,
    name text
);


ALTER TABLE public."ReservationExtra" OWNER TO uai_user;

--
-- Name: Review; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."Review" (
    id text NOT NULL,
    "hotelId" text NOT NULL,
    "userId" text NOT NULL,
    "reservationId" text NOT NULL,
    rating integer NOT NULL,
    cleanliness integer NOT NULL,
    location integer NOT NULL,
    service integer NOT NULL,
    comment text NOT NULL,
    "ownerReply" text,
    "ownerReplyAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Review" OWNER TO uai_user;

--
-- Name: ReviewReport; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."ReviewReport" (
    id text NOT NULL,
    "reviewId" text NOT NULL,
    "userId" text NOT NULL,
    reason text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ReviewReport" OWNER TO uai_user;

--
-- Name: RoomType; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."RoomType" (
    id text NOT NULL,
    "hotelId" text NOT NULL,
    name text NOT NULL,
    capacity integer NOT NULL,
    count integer NOT NULL,
    "pricePerNight" double precision NOT NULL,
    "maxExtraBeds" integer DEFAULT 0 NOT NULL,
    "extraBedPrice" double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RoomType" OWNER TO uai_user;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Session" OWNER TO uai_user;

--
-- Name: User; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    password text,
    image text,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO uai_user;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: uai_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO uai_user;

--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: uai_user
--



--
-- Data for Name: BlockedDate; Type: TABLE DATA; Schema: public; Owner: uai_user
--

COPY public."BlockedDate" (id, "hotelId", date, reason, "createdAt") FROM stdin;
\.


--
-- Data for Name: Experience; Type: TABLE DATA; Schema: public; Owner: uai_user
--

COPY public."Experience" (id, "ownerId", name, description, price, duration, category, images, "isActive", "createdAt", "updatedAt") FROM stdin;
cmqr14zl60004zqa09nxjg7dr	cmo39nuxj0005zq68uv4okiuo	AKSDL:KA	sisisisi	15	3 Horas	GASTRONOMY	{}	t	2026-06-23 19:20:49.962	2026-06-23 19:20:49.962
cmqvii8o80001lf2ghy00nmlv	cmqvd9cfz0003lfvsosk5ew1p	Cena 5 tiempos comida Nikkei	Cena de 5 tiempos de comida Japonesa-Peruana, elaborada por nuestro chef estrella.	80	5 horas 	GASTRONOMY	{/uploads/d86953fb43b9146d9b821ee65d287864.jpg}	t	2026-06-26 22:38:06.44	2026-06-26 22:38:06.44
\.


--
-- Data for Name: ExtraService; Type: TABLE DATA; Schema: public; Owner: uai_user
--

COPY public."ExtraService" (id, "ownerId", name, description, price, image, type, "isActive", "createdAt", "updatedAt") FROM stdin;
cmqvim63y0003lf2g53lxf2dr	cmqvd9cfz0003lfvsosk5ew1p	Desayuno Premium	Desayuno Buffet con amplia variedad de estilos de comida 	30	/uploads/f23711ad6eef0904d9a8b0dda7b366cc.jpg	BREAKFAST	t	2026-06-26 22:41:09.742	2026-06-26 22:41:09.742
\.


--
-- Data for Name: Hotel; Type: TABLE DATA; Schema: public; Owner: uai_user
--



--
-- Data for Name: HotelExperience; Type: TABLE DATA; Schema: public; Owner: uai_user
--

COPY public."HotelExperience" ("hotelId", "experienceId") FROM stdin;
cmqvfrjum0001lftgqj8g5tuj	cmqvii8o80001lf2ghy00nmlv
\.


--
-- Data for Name: HotelExtraService; Type: TABLE DATA; Schema: public; Owner: uai_user
--

COPY public."HotelExtraService" ("hotelId", "extraServiceId") FROM stdin;
cmqvfrjum0001lftgqj8g5tuj	cmqvim63y0003lf2g53lxf2dr
\.


--
-- Data for Name: OtpCode; Type: TABLE DATA; Schema: public; Owner: uai_user
--



--
-- Data for Name: Reservation; Type: TABLE DATA; Schema: public; Owner: uai_user
--



--
-- Data for Name: ReservationExtra; Type: TABLE DATA; Schema: public; Owner: uai_user
--



--
-- Data for Name: Review; Type: TABLE DATA; Schema: public; Owner: uai_user
--

COPY public."Review" (id, "hotelId", "userId", "reservationId", rating, cleanliness, location, service, comment, "ownerReply", "ownerReplyAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ReviewReport; Type: TABLE DATA; Schema: public; Owner: uai_user
--

COPY public."ReviewReport" (id, "reviewId", "userId", reason, "createdAt") FROM stdin;
\.


--
-- Data for Name: RoomType; Type: TABLE DATA; Schema: public; Owner: uai_user
--

COPY public."RoomType" (id, "hotelId", name, capacity, count, "pricePerNight", "maxExtraBeds", "extraBedPrice", "createdAt") FROM stdin;
cmqvn72sk0002lf2w2nitp2cx	cmqvn72r40001lf2woqsx752q	Est├índar	2	10	180	1	50	2026-06-27 00:49:23.684
cmqvn72sk0003lf2wjsqfk593	cmqvn72r40001lf2woqsx752q	Matrimonial	2	10	250	0	0	2026-06-27 00:49:23.684
cmqvnojjb0002lf6cdqsk4452	cmqvly4oo0005lfm8ahqxsswv	Est├índar	2	1	200	1	50	2026-06-27 01:02:58.536
cmqvnojjb0003lf6c9s1cjo9p	cmqvly4oo0005lfm8ahqxsswv	Matrimonial	2	1	0	0	50	2026-06-27 01:02:58.536
\.


--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: uai_user
--

COPY public."Session" (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: uai_user
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: uai_user
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
484c80e8-2399-48e3-a95a-b4a782be4d49	b38d0c01dcebcb6686967475216beec133b0c6074911619f3b720e28406e70b2	2026-04-17 16:55:40.269395+00	20260417165540_init	\N	\N	2026-04-17 16:55:40.096293+00	1
8daad0bf-6ec0-49b8-91c9-9b1697a7b231	7c1d31bb47ec04a04cede99bdd91bd0894d24a8668114a507fd9bfb0f846e936	2026-06-23 01:34:49.698151+00	20260623013449_update_schema	\N	\N	2026-06-23 01:34:49.577608+00	1
\.


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: BlockedDate BlockedDate_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."BlockedDate"
    ADD CONSTRAINT "BlockedDate_pkey" PRIMARY KEY (id);


--
-- Name: Experience Experience_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Experience"
    ADD CONSTRAINT "Experience_pkey" PRIMARY KEY (id);


--
-- Name: ExtraService ExtraService_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."ExtraService"
    ADD CONSTRAINT "ExtraService_pkey" PRIMARY KEY (id);


--
-- Name: HotelExperience HotelExperience_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."HotelExperience"
    ADD CONSTRAINT "HotelExperience_pkey" PRIMARY KEY ("hotelId", "experienceId");


--
-- Name: HotelExtraService HotelExtraService_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."HotelExtraService"
    ADD CONSTRAINT "HotelExtraService_pkey" PRIMARY KEY ("hotelId", "extraServiceId");


--
-- Name: Hotel Hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Hotel"
    ADD CONSTRAINT "Hotel_pkey" PRIMARY KEY (id);


--
-- Name: OtpCode OtpCode_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."OtpCode"
    ADD CONSTRAINT "OtpCode_pkey" PRIMARY KEY (id);


--
-- Name: ReservationExtra ReservationExtra_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."ReservationExtra"
    ADD CONSTRAINT "ReservationExtra_pkey" PRIMARY KEY (id);


--
-- Name: Reservation Reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Reservation"
    ADD CONSTRAINT "Reservation_pkey" PRIMARY KEY (id);


--
-- Name: ReviewReport ReviewReport_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."ReviewReport"
    ADD CONSTRAINT "ReviewReport_pkey" PRIMARY KEY (id);


--
-- Name: Review Review_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_pkey" PRIMARY KEY (id);


--
-- Name: RoomType RoomType_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."RoomType"
    ADD CONSTRAINT "RoomType_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: uai_user
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: BlockedDate_hotelId_date_key; Type: INDEX; Schema: public; Owner: uai_user
--

CREATE UNIQUE INDEX "BlockedDate_hotelId_date_key" ON public."BlockedDate" USING btree ("hotelId", date);


--
-- Name: Review_reservationId_key; Type: INDEX; Schema: public; Owner: uai_user
--

CREATE UNIQUE INDEX "Review_reservationId_key" ON public."Review" USING btree ("reservationId");


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: uai_user
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: uai_user
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BlockedDate BlockedDate_hotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."BlockedDate"
    ADD CONSTRAINT "BlockedDate_hotelId_fkey" FOREIGN KEY ("hotelId") REFERENCES public."Hotel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Experience Experience_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Experience"
    ADD CONSTRAINT "Experience_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ExtraService ExtraService_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."ExtraService"
    ADD CONSTRAINT "ExtraService_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: HotelExperience HotelExperience_experienceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."HotelExperience"
    ADD CONSTRAINT "HotelExperience_experienceId_fkey" FOREIGN KEY ("experienceId") REFERENCES public."Experience"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: HotelExperience HotelExperience_hotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."HotelExperience"
    ADD CONSTRAINT "HotelExperience_hotelId_fkey" FOREIGN KEY ("hotelId") REFERENCES public."Hotel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: HotelExtraService HotelExtraService_extraServiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."HotelExtraService"
    ADD CONSTRAINT "HotelExtraService_extraServiceId_fkey" FOREIGN KEY ("extraServiceId") REFERENCES public."ExtraService"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: HotelExtraService HotelExtraService_hotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."HotelExtraService"
    ADD CONSTRAINT "HotelExtraService_hotelId_fkey" FOREIGN KEY ("hotelId") REFERENCES public."Hotel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Hotel Hotel_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Hotel"
    ADD CONSTRAINT "Hotel_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OtpCode OtpCode_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."OtpCode"
    ADD CONSTRAINT "OtpCode_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ReservationExtra ReservationExtra_experienceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."ReservationExtra"
    ADD CONSTRAINT "ReservationExtra_experienceId_fkey" FOREIGN KEY ("experienceId") REFERENCES public."Experience"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ReservationExtra ReservationExtra_extraServiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."ReservationExtra"
    ADD CONSTRAINT "ReservationExtra_extraServiceId_fkey" FOREIGN KEY ("extraServiceId") REFERENCES public."ExtraService"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ReservationExtra ReservationExtra_reservationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."ReservationExtra"
    ADD CONSTRAINT "ReservationExtra_reservationId_fkey" FOREIGN KEY ("reservationId") REFERENCES public."Reservation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Reservation Reservation_hotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Reservation"
    ADD CONSTRAINT "Reservation_hotelId_fkey" FOREIGN KEY ("hotelId") REFERENCES public."Hotel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Reservation Reservation_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Reservation"
    ADD CONSTRAINT "Reservation_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ReviewReport ReviewReport_reviewId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."ReviewReport"
    ADD CONSTRAINT "ReviewReport_reviewId_fkey" FOREIGN KEY ("reviewId") REFERENCES public."Review"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ReviewReport ReviewReport_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."ReviewReport"
    ADD CONSTRAINT "ReviewReport_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_hotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_hotelId_fkey" FOREIGN KEY ("hotelId") REFERENCES public."Hotel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_reservationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_reservationId_fkey" FOREIGN KEY ("reservationId") REFERENCES public."Reservation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RoomType RoomType_hotelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."RoomType"
    ADD CONSTRAINT "RoomType_hotelId_fkey" FOREIGN KEY ("hotelId") REFERENCES public."Hotel"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uai_user
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: uai_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict pItwRO1F6hjQM4qBHhvmmp34nAaL4gagGBbxTmo261zhvaQ58vaOF31jtGbqUvN

